.container {
    background-image:url(img/ImgInício.jpg);
    background-size: cover;
    background-position: center;
          
    position:relative;
    width: 62%;
    height: 50px;
            
    color: black;
    text-align: left;
    padding: 300px;
    padding-top: 250px;
    padding-left: 285px;
           
        

}
.texto-background {
    position:absolute;
    top: 260px;
    left: 200px;

            
            
}
