header {
    background-color: orange;
    
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 83px;
   

}

.img_main {
    background-image: url("img/imgInício.jpg");
    background-size: cover;
    
    position: fixed;
    top: 83px;
    left: 0px;
    right: 0px;
    

}

.div_header {
    display: flex;
    flex-direction: row;
    gap: 20px;


}

.img_header {
    height: 85px;

}


.bg-texto {
    font-size: 35px;
    color:black;


            
            
}
