.login_background {
    background-image: url("../img/fundo_naruto.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 2px 2px 6px black;

}

.login_overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 15px;
    border-radius: 15px;
    backdrop-filter: blur(6px);
    transform: translateY(50px); 
}


.login_overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 50px;
    border-radius: 15px;
    backdrop-filter: blur(6px);
    transform: translateY(300px); 
}
body {
    min-height: 100vh;
    background-image: url(../img/wall.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}

.sbr_div{
    font-size: 42px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: solid black;
    background-color: rgb(250, 151, 80);
    padding-top: 5px;
    padding-bottom: 50px;
    margin: 52px;
    margin-top: 10px;
    margin-bottom: 250px;
    margin-right: 700px;
    text-align: start;
    border-radius: 25px;
}

.sbr_background {
    background-image: url(../img/imgsobre.jpg);
    background-size: cover;
    width: 100%;
    height: 890px;
    padding-top: 1px;
    
}

.txt_sbr{
    margin: 15px;
}

.main_txt {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #ffb300;
    text-align: center;
}

.login_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 200%;
    max-width: 300px;
}

.login_input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 6px;
    outline: none;
}

.btn_comprar {
    width: 100%;
    padding: 10px;
    background-color: #ff9800;
    border: none;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.btn_comprar:hover {
    background-color: #e68900;
}

.login_msg {
    margin-top: 15px;
    font-size: 0.9rem;
    color: #ddd;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header {
    background-color: rgb(240, 156, 0);
    
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 83px;
    
    z-index: 100;
}
.header_div {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.header_img {
    height: 85px;
}
.header_txt {
    font-size: 35px;
    font-family:Arial, Helvetica, sans-serif;
    color:black;

    position: absolute;
    left: 100px;
    top: 25px;      
}
.header_menu {
    display: flex;
    flex-direction: row;
    gap: 20px;

    position: absolute;
    right: 100px;
    top: 30px;  
}
.btn_home, .btn_sobre, .btn_login, .btn_carrinho {
    background-color: rgb(240, 156, 0);
    border: none;
    font-size: 20px;
    color: black;
    cursor: pointer;    
}
main {
    margin-top: 75px;
    flex: 1;
}
.main_div {
    background-image: url(../img/ImgInício.png);
    padding-bottom: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    
    position: relative;
    right: 0px;
    left: 0px;  
}

.main_txt {
    font-size: 35px;
    font-family:Arial, Helvetica, sans-serif;
    color:black;

    position: absolute;
    top: 400px;
    left: 300px;
}

.main_bk {
    background-image: url(../img/imgIncio2.png);
    background-image: cover;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 200px;
}

.div_separacao {
    background-color: #ff9800;
    font-size: 33px;
    
}

.tc {
    color: #ff9800;
}

.main_cards {
    
    display: flex;
    flex-direction: column;

    margin-left: 400px;
    margin-right: 400px;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer_div {
    background-color: rgb(192, 128, 32) ;
    height: 50px;
}

.footer_txt {
    font-size: 30px;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 10px;
}

.maincar {
    justify-content: center;
    display: flex;
    text-align: center;
}

.card {
    background-color: rgb(255, 255, 255);
    margin: 20px;
    width: 420px;
    height: 590px;
    box-shadow: rgba(0, 0, 0, 0.15) 3.9px 3.9px 5.2px;
    border-radius: 20px;
    padding: 20px;
}

.card>img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.produtos_card-img {
  margin-bottom: 1.6rem;
  width: 18rem;
}

.nome_produto {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 30px;
    padding: 4px;
    padding-top: 16px;
    font-weight: 600;
    padding-bottom: 2px;   
}

.price{
    color: rgb(27, 131, 9);
    font-size: 28px; 
    font-family:Arial, Helvetica, sans-serif;
}

.btn_comprar {
    height: 58px;
    width: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border: none;
    cursor: pointer;
    background-color: rgb(255, 177, 33);
    border-radius: 14px;
    margin-right: 50px;
    margin-left: 60px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    font-weight: 800px;
    font-size: 26px;
    margin-top: -5px;
    transition: 0.3s background; 
}

.btn_comprar:hover {
    transition: 0.5s background;
    background-color: rgb(221, 153, 25);
}

